*{
    margin: 0px;
    padding: 0px;
    }
    body{
        background-image: url(https://thumbs.dreamstime.com/z/emoji-haha-laugh-icons-facebook-live-video-isolated-white-background-social-media-network-marketing-application-emoji-haha-138183795.jpg);
    
    }
    form{
        background-color: azure;
        border: 3px dotted black;
        border-radius: 25px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 550px;
        height: fit-content;
        background-color: rgb(248, 245, 58);
        box-shadow: 7px 7px 7px rgb(105, 101, 94);
    }
    .list{
        position: relative;
        display: flex;
        align-items: center;
        margin: 10px;
        padding: 10px;
        font-size: 20px;
    }
    .list label{
        padding: 10px;
    }
    .list input{
        padding: 10px;
        font-size: 20px;
        width: 320px;
        height: 15px;
    }
    .submit{
        position: relative;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 10px;
    }
    button{
        border: 3px solid grey;
        border-radius: 5px;
        width: 60px;
        height: 35px;
        font-size: 15px;
    }
    button:hover{
        cursor: pointer;
        background-color: yellow;
    }